.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
}

.ModalAfterOpen  {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.ModalBeforeClose {
  transform: translate(-50%, -50%) scale(.2);
  opacity: 0;
}

.Modal:focus {
  outline: 0;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.92);
  opacity: 0;
	transition: all 0.3s ease-out;
}

.OverlayAfterOpen {
  opacity: 1;
}

.OverlayBeforeClose {
  opacity: 0;
}