.AuthBtn {
    margin: 10px 0;
    display: inline-block;
    padding: 16px 165px;
    background-color: #44DBC0;
    color: #fff;
    font-weight: 700;
    border-radius: 3%;
    border: none;
    font-size: 90%;
    transition: 0.2s;
    cursor: pointer;
    outline: none;
}

.AuthBtn:hover {
    background-color: #38b09a;
}
