.Create {
  display: grid;
  grid-template-columns: 640px;
  grid-template-rows: 1fr 4.4fr 1fr;
  min-height: 400px;
  max-height: 400px;
  align-self: center;
  justify-self: center;
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.Create label {
  display: block;
  font-size: 90%;
  color: rgb(90, 90, 90, 0.95);
}

.Create .ErrorMessage {
  color: #d53b3b;
}

.Create .Header {
  display: flex;
  text-align: center;
  color: #505AB2;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 130%;
}

.Create .PodInfo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
}

.Create .PodInfo .PodLeft {
  display: grid;
  grid-template-rows: 1fr 1.2fr 1fr;
  margin-left: 40px;
  font-weight: 600;
  color: #414141;
  font-size: 70%;
}

.Create .PodForm {
  width: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
}

.Create .PodInputForm {
  margin-top: 10px;
  padding-bottom: 4px;
  width: 250px;
  background: #FFFFFF;
  border: none;
  border-bottom: 2px solid rgba(161, 161, 161, 0.4);
  color: #000000;
  font-size: 110%;
  outline: none;
  transition: 0.05s;
}

.Create .PodInputForm:focus {
  border-bottom: 2px solid #505AB2;
  transition: 0.05s;
}

.Create .PodInputForm::placeholder {
  color: rgba(122, 122, 122, 0.8);
}

.Create .PodCategoryContainer {
  width: 250px;
  height: 50px;
  background-color: #FFFFFF;
}

.Create .PodCategory {
  margin-top: 10px;
  padding: 10px 6px;
  width: 250px;
  height: 44px;
  background: transparent;
  color: #505AB2;
  font-size: 104%;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid rgba(161, 161, 161, 0.4);
  outline: none;
  cursor: pointer;
  transition: 0.1s;
}

.Create .PodCategory:hover {
  border: 2px solid #505AB2;
  transition: 0.1s;
}

.Create .PodCategory option {
  color: #505ab2;
  font-weight: 600;
}

.Create .DescriptionInputForm {
  margin-top: 10px;
  padding-bottom: 4px;
  width: 250px;
  background: #FFFFFF;
  border: none;
  border-bottom: 2px solid rgba(161, 161, 161, 0.4);
  color: #000000;
  font-size: 110%;
  outline: none;
}

.Create .DescriptionInputForm:focus {
  border-bottom: 2px solid #505AB2;
  transition: 0.05s;
}

.Create .DescriptionInputForm::placeholder {
  color: rgba(122, 122, 122, 0.8);
}

.Create .Avatar {
  display: grid;
  margin-top: 20px;
  margin-right: 40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #DADADA;
  justify-items: center;
  align-items: center;
  color: rgb(80, 89, 178);
  font-size: 600%;
  cursor: pointer;
}

.Create .Image {
  width: 180px;
  height: 180px;
  border: 2px solid rgba(175, 175, 175, 0.2);
  border-radius: 50%;
  transition: 0.2s;
}

.Create .Image:hover {
  border: 2px solid #888888;
  transition: 0.2s;
}

.Create .UploadText {
  margin-right: 40px;
  margin-top: 10px;
  font-size: 65%;
  text-align: center;
  color: rgba(34, 34, 34, 0.9);
  background-color: #FFFFFF;
}

.Create .Footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 76px;
  background-color: rgba(238, 238, 238, 0.9);
  border-top: 1px solid rgba(168, 168, 168, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Create .BackButton {
  margin-left: 40px;
  padding-bottom: 4px;
  justify-self: start;
  align-self: center;
  justify-content: center;
  vertical-align: center;
  font-size: 80%;
  font-weight: 600;
  color: rgba(77, 77, 77, 0.8);
  transition: 0.1s;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  outline: none;
}

.Create .BackIcon {
  margin: -2px 6px 0 0;
  font-size: 110%;
}

.Create .BackButton:hover {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  transition: 0.1s;
}

.Create .CreateButton {
  margin-right: 44px;
  padding: 10px 30px;
  justify-self: end;
  align-self: center;
  background-color: #505AB2;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  font-size: 80%;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}

.Create .CreateButton:hover {
  background-color: rgb(57, 64, 133);
  transition: 0.2s;
}
