.Create {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 1fr 4fr 1fr;
  align-self: center;
  justify-self: center;
  width: 600px;
  height: 450px;
  background-color: #ffffff;
}

.Create .ErrorMessage {
  color: #d53b3b;
}

.Create .Header {
  display: flex;
  text-align: center;
  color: #505AB2;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}

.Create .PodInfo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 3em;
}

.Create .PodInfo .PodLeft {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 30px;
  font-weight: 600;
  color: #414141;
  font-size: 70%;
}

.Create .PodForm {
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
}

.Create .PodInputForm {
    width: 100%;
    background: #FFFFFF;
    border: none;
    color: #414141;
    font-size: 150%;
    height: 2em;
    margin-top: 10px;
}

.Create .DescriptionInputForm {
    width: 100%;
    background: #FFFFFF;
    border: none;
    color: #414141;
    font-size: 150%;
    height: 2em;
    margin-top: 10px;
}

.Create .PodCategory {
  width: 100%;
  height: 2em;
  font-size: 150%;
  color: #414141;
  margin-top: 10px;
}

.Create .Avatar {
  display: grid;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #797979;
  justify-items: center;
  align-items: center;
  margin-right: 30px;
  border: 2px #505AB2 solid;
  color: #ffffff;
  font-size: 500%;
  text-transform: uppercase;
}

.Create .Footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #bfbfbf
}

.Create .BackButton {
  font-size: 80%;
  justify-self: start;
  align-self: center;
  margin-left: 20px;
}

.Create .CreateButton {
  justify-self: end;
  align-self: center;
  padding: 10px 30px;
  background-color: #505AB2;
  color: #fff;
  font-weight: 700;
  border-radius: 5%;
  border: none;
  font-size: 80%;
  margin-right: 20px;
  -webkit-transition: background-color 0.5s;
}

.Create .CategoryButton {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #FFFFFF;
  color: #414141;
  font-weight: 700;
  border-radius: 5%;
  border: 1px #505AB2 solid;
  font-size: 120%;
  text-transform: uppercase;
  width: 80%;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #505AB2;
    padding: 0;
}