.Login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  font-size: 80%;
}

.Login .LoginContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100vh;
  background-color: #2b316b;
}

.Logo {
  background-color: #505AB2;
}

.Login .LoginForm {
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.Login .AuthHeader {
  color: #fff;
  text-transform: uppercase;
  font-size: 150%;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}

.Login .ErrorSpace {
  padding: 10px;
  height: 100%;
}

.Login .ErrorMessage {
  color: rgb(223, 62, 62);
  font-size: 85%;
  text-align: center;
  height: 20px;
}

.Login .AuthFormText {
  margin: 5px 0 14px 0;
  font-size: 82%;
  color: rgba(255, 255, 255, 0.65);
}

.Login .AuthInfo {
  font-size: 80%;
  color: rgb(182, 182, 182);
}

.Login .AuthLink {
  padding-bottom: 4px;
  color: #fff;
  text-decoration: none;
}

.Login .AuthLink:hover {
  border-bottom: 2px solid #FFFFFF;
}
