.MessageSearchResults {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 14px 12px 0 12px;
  background-color: rgba(228, 228, 228, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-all;
}

.MessageSearchResults .ResultsHeader {
  margin-bottom: 12px;
  font-size: 90%;
  font-weight: 600;
}

.MessageSearchResults::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.MessageSearchResults::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.MessageSearchResults::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	background-color: rgba(102, 102, 102, 0.4);
}
