.ChooseCategory {
  display: grid;
  grid-template-rows: 1fr 6fr;
  align-self: center;
  justify-self: center;
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
}

.ChooseCategory .Header {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  color: #505AB2;
  font-size: 120%;
}

.Categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.Categories .CategoryBox {
  text-align: center;
  border: 1px solid #414141;
  margin: 1.5em 0.5em;
  border-radius: 10px;
  background-color: #505AB2;
  cursor: pointer;
}

.Categories .CategoryBox:hover {
  background-color: rgb(68, 77, 158);
}

.Categories .Category {
  font-size: 90%;
  margin-top: 35%;
  color: #FFFFFF;
  font-weight: 600;
}
