.Message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 20px 30px 80px 30px;
}

.Message .AvatarContainer {
}

.Message .Avatar {
  width: 44px;
  height: 44px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.Message .MessageContent {
  padding-left: 16px;
  padding-right: 10px;
}

.Message .Username {
  display: inline;
  padding-right: 8px;
  font-size: 70%;
  font-weight: 600;
  color: #000000;
}

.Message .Time {
  display: inline;
  font-size: 60%;
  font-weight: 300;
  color: #525252;
}

.Message .MessageText {
  font-size: 70%;
  color: #000000;
}
