.Message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 20px 0 80px 0;
}

.Message .AvatarContainer {
}

.Message .AvatarContainer .Avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.Message .MessageContent {
  padding-left: 16px;
  padding-right: 10px;
}

.Message .Username {
  display: inline;
  padding-right: 8px;
  font-size: 70%;
  font-weight: 600;
  color: #000000;
}

.Message .Time {
  display: inline;
  font-size: 63%;
  color: #636363;
}

.Message .MessageText {
  font-size: 74%;
  color: #000000;
}
