.Topics {
}

.Topics .Title {
  margin-bottom: 8px;
  padding: 4px 0 0px 18px;
  float: left;
  font-size: 90%;
  color: rgb(255, 255, 255);
  letter-spacing: 0.3px;
}

.Topics .AddTopicContainer {
  float: right;
  margin-right: 12px;
}

.Topics .AddTopicIcon {
  font-size: 94%;
  color: rgb(214, 214, 214);
  border: 1.5px solid rgb(214, 214, 214);
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.Topics .AddTopicIcon:hover {
  color: rgb(255, 255, 255);
  border: 1.5px solid rgb(255, 255, 255);
  transition: 0.2s;
}

.Topics .Clearfix::after {
  content: '';
  clear: both;
  display: table;
}
