.Topics {
  width: 76%;
  color: #FFFFFF;
  font-size: 18px;
}

.Topics-title {
  margin-bottom: 10px;
  padding-left: 2px;
  padding-top: 2px;
  float: left;
  font-weight: 600;
  letter-spacing: .5px;
}

.Topics-add-container {
  float: right;
}

.Topics-add {
  width: 14px;
  height: 14px;
}

.Topics-clearfix::after {
  content: "";
  clear: both;
  display: table;
}