.Result {
  display: grid;
  grid-template-columns: 100px 200px 100px 1fr 1fr;
  margin: 0 0 20px 0;
  color: #414141;
}

.Result .PodAvatar {
  margin-right: 20px;
  width: 58px;
  height: 58px;
  background-size: 58px 58px;
  border-radius: 50%;
  background-color: rgba(143, 149, 204, 0.1);
}

.Result .PodInfo {
  margin: 5px 10px;
  min-width: 60x;
}

.Result .PodName {
  min-width: 50px;
  font-weight: 600;
  font-size: 75%;
}

.Result .PodCategory {
  font-size: 70%
}

.Result .UserCount {
  margin: 5px 100px 5px 20px;
  width: 100px;
  min-width: 50px;
  font-size: 75%;
  padding-right: 8px;
  color: #000000;
}

.Result .PodDescription {
  display: inline-block;
  margin: 5px 10px;
  word-wrap: break-word;
  width: 200px;
  min-width: 200px;
  font-size: 75%;
  color: #000000;
}

.Result .Button {
  align-self: center;
  justify-self: end;
  margin-left: 15px;
  max-width: 440px;
  min-width: 360px;
  height: 50px;
  display: inline-block;
  background-color: #44DBC0;
  border-radius: 5px;
  color: #fff;
  font-size: 70%;
  font-weight: 600;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}

.Result .Button:hover {
  background-color: #38b09a;
  transition: 0.2s;
}

.Result .DisabledButton {
  align-self: center;
  justify-self: end;
  margin-left: 15px;
  max-width: 440px;
  min-width: 360px;
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  background-color: #4d4d4d;
  color: rgb(233, 233, 233);
  font-size: 70%;
  font-weight: 600;
  border: none;
  transition: 0.2s;
}
