.Result {
  display: grid;
  /* grid-template-columns: 100px 200px 140px 400px 200px 1fr; */
  grid-template-columns: 0.3fr 0.6fr 0.3fr 1fr 0.8fr 1fr;
  grid-gap: 20px;
  margin: 0 0 12px 0;
  color: #414141;
}

.Result .PodAvatar {
  margin-right: 10px;
  width: 58px;
  height: 58px;
  background-size: 58px 58px;
  border-radius: 50%;
  background-color: rgb(233, 233, 233);
}

.Result .PodInfo {
  margin: 5px 10px;
  min-width: 100x;
}

.Result .PodName {
  min-width: 50px;
  font-weight: 600;
  font-size: 75%;
  color: #000000;
}

.Result .PodCategory {
  font-size: 72%;
}

.Result .UserCount {
  margin: 5px 20px 5px 20px;
  min-width: 50px;
  font-size: 75%;
  padding-right: 8px;
  color: #000000;
}

.Result .PodDescription {
  margin: 5px 10px;
  word-wrap: break-word;
  max-width: 440px;
  min-width: 100px;
  font-size: 75%;
  color: #000000;
}

.Result .PodCreateDate {
  margin: 5px 100px 5px 20px;
  min-width: 100px;
  font-size: 75%;
  color: #000000;
}

.Result .Button {
  justify-self: end;
  margin-left: 15px;
  max-width: 520px;
  min-width: 300px;
  height: 40px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #505AB2;
  border-radius: 5px;
  font-size: 70%;
  font-weight: 600;
  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.Result .Button:hover {
  background-color: rgb(45, 51, 107);
  transition: 0.2s;
}

.Result .DisabledButton {
  justify-self: end;
  margin-left: 15px;
  max-width: 520px;
  min-width: 300px;
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
  font-size: 70%;
  font-weight: 600;
  border: none;
  transition: 0.2s;
}
