.MessageContainer {
  display: grid;
  grid-template-columns: 9fr auto;
  grid-template-rows: 50px auto 74px;
  grid-template-areas: "messageContainerHeader messageContainerHeader"
                       "messages messageSearchContainer"
                       "messageBar messageSearchContainer"
}
