.MessageContainer {
  display: grid;
  grid-template-columns: 9fr auto;
  grid-template-rows: 60px auto 74px;
  grid-template-areas: "messageContainerHeaderLeft messageContainerHeaderRight"
                       "messages messageSearchContainer"
                       "messageBar messageSearchContainer";
}
