.User {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 0px 18px;
}

.User .StatusIcon {
  margin-right: 5px;
  margin-top: 1px;
  width: 8px;
  height: 8px;
  background-color: #44DBC0;
  border-radius: 50%;
}

.User .Username {
  display: inline;
  font-size: 66%;
  color: rgba(214, 214, 214, 0.6);
  transition: 0.1s;
  cursor: pointer;
}

.User .Username:hover {
  color: rgb(255, 255, 255);
  transition: 0.1s;
}
