.CreateJoinModal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
