.AuthText {
    color: #f2f2f2;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
}

.LogoText {
    font-weight: 600;
    font-size: 325%;
}

.LogoImageLrg {
    width: 90%;
    height: auto;
    margin-left: 30px;
}

.LogoContainer {
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%)
}
