.AddPod {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  color: rgba(153, 153, 153, 0.50);
  border: 1px solid rgba(153, 153, 153, 0.50);
  transition: 0.2s;
  cursor: pointer;
}

.AddPod:hover {
  color: rgba(218, 218, 218, 0.8);
  border: 1px solid rgba(218, 218, 218, 0.8);
  transition: 0.2s;
}
