.AddPod {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  color: rgba(153, 153, 153, 0.50);
  border: 1.5px solid rgba(153, 153, 153, 0.50);
  transition: 0.25s;
  cursor: pointer;
}

.AddPod:hover {
  color: rgb(255, 255, 255);
  border: 1.5px solid rgb(255, 255, 255);
  transition: 0.25s;
}
