.SignUp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  font-size: 80%;
}

.SignUp .SignUpContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100vh;
  background-color: #2b316b;
}

.Logo {
  background-color: #505AB2;
}

.SignUp .SignupForm {
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.SignUp .AuthHeader {
  color: #fff;
  text-transform: uppercase;
  font-size: 150%;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}

.SignUp .ErrorSpace {
  padding: 10px;
  height: 100%;
}

.SignUp .ErrorMessage {
  color: #df3e3e;
  font-size: 85%;
  text-align: center;
  height: 20px;
}

.SignUp .AuthFormText {
  margin: 5px 0 14px 0;
  font-size: 82%;
  color: rgba(255, 255, 255, 0.65);
}

.SignUp .AuthInfo {
  font-size: 80%;
  color: rgb(182, 182, 182);
}

.SignUp .AuthLink {
  padding-bottom: 4px;
  color: #fff;
  text-decoration: none;
}

.SignUp .AuthLink:hover {
  border-bottom: 2px solid #FFFFFF;
}
