.SignUp {
  float: left;
  width: 50%;
  height: 100vh;
  background-color: #2B316B;
  font-size: 80%;
}

.Logo {
  float: left;
  width: 50%;
  height: 100vh;
  background-color: #505AB2;
}

.SignUp .SignupForm {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.SignUp .AuthHeader {
  color: #fff;
  text-transform: uppercase;
  font-size: 150%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.SignUp .ErrorMessage {
  color: rgb(255, 0, 0);
  font-weight: 600;
  text-align: center;
}

.SignUp .AuthFormText {
  margin: 5px 0 14px 0;
  font-size: 82%;
  color: rgba(255, 255, 255, 0.65);
}

.SignUp .AuthInfo {
  font-size: 80%;
  color: rgb(182, 182, 182);
}

.SignUp .AuthLink {
  padding-bottom: 4px;
  color: #fff;
  text-decoration: none;
}

.SignUp .AuthLink:hover {
  border-bottom: 2px solid #FFFFFF;
}
