.DiscoverSearch {
  display: grid;
  grid-template-columns: 460px;
  grid-template-rows: 46px;
  align-content: center;
}

.DiscoverSearch .SearchBar > input {
  margin-left: 30px;
  padding: 4px 12px;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(68, 68, 68, 0.4);
  border-radius: 5px;
  font-size: 72%;
  font-weight: 300;
  outline: none;
  transition: 0.4s;
}

.DiscoverSearch .SearchBar > input:focus {
  border: 2px solid rgba(82, 82, 82, 0.74);
  width: 640px;
  transition: 0.4s;
}

.DiscoverSearch .SearchBar > input::placeholder {
  font-weight: 300;
  color: rgba(122, 122, 122, 0.8);
}
