.Pod {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 58px;
  height: 58px;
  background-size: 58px 58px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: rgba(218, 218, 218, 0.75);
  transition: 0.2s;
  cursor: pointer;
}

.Pod:hover {
  border-radius: 32%;
  transition: 0.2s;
}

.Active {
  border-radius: 32%;
  background-color: rgb(233, 233, 233);
  transition: 0.2s;
}

.Inactive {
  background-color: rgba(218, 218, 218, 0.75);
  transition: 0.2s;
}
