.MessageSearchBar {
  margin-right: 18px;
  padding: 4px 4px 4px 12px;
  width: 330px;
  height: 30px;
  border: 1.3px solid #a5a5a5;
  border-radius: 4px;
  font-size: 75%;
}

.MessageSearchBar::placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}
