.PodContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 5%;
  height: 100vh;
  background-color: #2B316B;
}

.PodContainer .Logo {
  margin-top: 24px;
  margin-bottom: 14px;
  width: 70px;
  height: 79.18px;
}

.PodContainer .DiscoverTitle {
  margin-bottom: 2px;
  font-family: 'Source Sans Pro';
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.PodContainer .DiscoverSeparator {
  margin-bottom: 24px;
  width: 40px;
  border: 0.5px solid #FFFFFF;
}