.PodContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 4%;
  height: 100vh;
  background-color: #2B316B;
}

.PodContainer .Logo {
  margin-top: 24px;
  margin-bottom: 14px;
  width: 3.53em;
  height: 4em;
}

.PodContainer .DiscoverTitle {
  margin-bottom: 2px;
  font-family: 'Source Sans Pro';
  font-size: .75em;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.PodContainer .DiscoverSeparator {
  margin-bottom: 24px;
  width: 2.6em;
  border: 0.5px solid #FFFFFF;
}