.AuthInput {
    width: 100%;
    box-sizing: border-box;
    background: #2B316B;
}

.AuthInputForm {
    width: 100%;
    box-sizing: border-box;
    background: #2B316B;
    border: none;
    color: #fff;
    font-size: 150%;
}

.AuthInput:after {
    margin-top: 5px;
    display: block;
    height: 2px;
    background-color: #fff;
    content: " ";
    width: 400px;
}