.Profile {
  display: flex;
  flex-direction: column;
  width: 45%;
  box-sizing: border-box;
}

.Profile .ProfileInfo {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 35px;
}

.Profile .ProfileText {
  font-weight: 600;
  font-size: 120%;
  width: 40%
}

.Profile .ProfileInput {
  width: 60%;
  height: 50px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border:solid 1px #d2d2d2;
  padding:5px;
}



.Profile .Buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 35px;
}
.Profile .ButtonUpdate {
    width: 25%;
    display: inline-block;
    padding: 10px 80px;
    background-color: #44DBC0;
    color: #fff;
    font-weight: 700;
    border-radius: 3%;
    border: none;
    -webkit-transition: background-color 0.5s;
}

.Profile .ButtonCancel {
    width: 25%;
    display: inline-block;
    padding: 10px 80px;
    background-color: #FFF;
    color: #555555;
    font-weight: 700;
    border-radius: 3%;
    border-color: #555555;
    -webkit-transition: background-color 0.5s;
    margin-left: 50px;
}

.Profile .ButtonUpdate:hover {
  background-color: #38b09a;
}

.Profile .ButtonCancel:hover {
  color: #38b09a;
}