.CreateJoin {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 450px;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  font-weight: 600;
  font-size: 150%;
}

.CreateJoin .Create {
  display: grid;
  background-color: #505AB2;
  color: #FFFFFF;
  justify-items: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.CreateJoin .Create:hover {
  font-size: 130%;
  transition: 0.2s;
}

.CreateJoin .Join {
  font-size: 130%;
  display: grid;
  background-color: #FFFFFF;
  color: #505AB2;
  justify-items: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.CreateJoin .Join:hover {
  font-size: 150%;
  transition: 0.2s;
}
