.Topic {
  margin: 0 6px;
  padding: 3px 0 3px 4px;
  font-size: 82%;
  letter-spacing: 0.1px;
  border-radius: 6px;
  cursor: pointer;
}

.Topic .TopicName {
  margin-left: -6px;
  padding: 0 16px;
  text-align: left;
}

.Topic:hover {
  background-color: rgba(31, 30, 30, 0.2);
}

.Active {
  background-color: #44DBC0;
}

.Active:hover {
  background-color: #44DBC0;
}
