.Topic {
  padding: 3px 0 3px 18px;
  font-size: 82%;
  letter-spacing: 0.1px;
  cursor: pointer;
}

.Topic:hover {
  background-color: rgba(31, 30, 30, 0.2);
}

.Active {
  background-color: #44DBC0;
}

.Active:hover {
  background-color: #44DBC0;
}
